* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

/* nav bar */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #1a1a1a00;
}

.links {
  list-style: none;
  display: flex;
}
.link a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 30px;
  font-weight: 300;
}

.link a:hover,
.link.active a {
  opacity: 1;
  color: rgb(25, 109, 255);
}

/* home section*/

.home-section.active,
.project-section.active {
  opacity: 1;
  z-index: 8;
}

.home-section {
  width: 100vw;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.hero-heading {
  color: #fff;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
}
.home-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 0.5;
}

/* project section */

.project-section {
  width: 100%;
  height: 100%;
  padding: 100px;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-image: url(/assets/p-bg.jpeg);
  background-size: cover;
  overflow: visible;
  background-repeat: no-repeat;
  background-position-x: center;
  transition: 0.5s;
  opacity: 0;
}

.project-heading {
  font-size: 100px;
  font-weight: 100;
  padding: 0.6em;
  background: #dededeb8;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #191919;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}
.project-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  height: 50vh;
}
.project-card {
  display: none;
  height: 50vh;
  position: relative;
}
.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  object-fit: cover;
  transition: 0.5s;
}
.project-content {
  position: relative;
  padding: 50px;
  transition: 0.5s;
  opacity: 0;
}
.one,
.four {
  color: #fff;
}
.two,
.three {
  color: #000;
}
.project-title {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 100;
}
.project-info {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.project-btn {
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
}
.project-btn:hover {
  background: #191919;
}
.project-btn.live {
  background: rgb(25, 109, 255);
  border: none;
  color: #fff;
}
.project-btn.live:hover {
  background: rgb(25, 109, 255);
}
.project-card:hover .project-img {
  filter: blur(20px);
}
.project-card:hover .project-content {
  opacity: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(84, 84, 84);
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgb(25, 110, 255);
  color: #fff;
}
.numbertext {
  color: #f2f2f200;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.8;
}
.dot.active,
.dot:hover {
  background-color: rgb(25, 110, 255);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.see-all-btn {
  height: 50px;
  width: 200px;
  text-transform: capitalize;
  font-size: 22px;
  display: block;
  margin: auto;
  background: rgb(25, 110, 255);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  padding: 0.5em;
}
.see-all-btn:hover {
  background-color: rgb(0, 86, 233);
  color: #fff;
}
